#!/bin/bash

# Removes .DS_Store files and invokes commitizen for interactive commit message creation.
echo "Evaluating for trailing spaces"

find . -type f -name '.DS_Store' -exec rm {} +

BRANCH_NAME=$(git branch | grep '*' | sed 's/* //')

if [[ $BRANCH_NAME != *"no branch"* ]]; then
  exec < /dev/tty && node_modules/.bin/git-cz --hook || true
fi
